@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eae0dc;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  th, td {
    font-size: 12px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  transform: rotate(360);
}

::-webkit-scrollbar-track {
  background: #aaadab;
  border-top-right-radius: 10;
  border-bottom-right-radius: 10;
}

::-webkit-scrollbar-thumb {
  background: #9d3335;
  border-radius: 10;
}